.c-change {
    margin: 30px;

    input {
        width: 230px;
    }
}

.c-prof {
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 200px;
        margin: 20px;
    }
}